Repository jadynlaila/Study_Group_Platform, pull requests merged in 2024-11, with the labels that each got.

#140 D5 - Sequence Diagram
  Deliverables/Deliverable 5.md
  Deliverables/res/alex_d5/d5-seq_diagram.png
Labels: documentation, Deliverable 5

#144 Deliverable 5 Jack Contributions
  Deliverables/Deliverable 5.md
  Deliverables/res/jack_d5/designPatternD5MVC.drawio.png
  Deliverables/res/src/designPatternD5MVC.drawio
Labels: documentation, Deliverable 5

#138 Deliverable 5 - Daira
  Deliverables/Deliverable 5.md
  Deliverables/res/daira_d5/UMLpackagediagram.png
Labels: documentation, Deliverable 5

#153 [MEGAPULL] Update and Add Student and Group Controller Functionality
  .env
  backend/controllers/groupController.js
  backend/controllers/messageController.js
  backend/controllers/studentController.js
  backend/routes/groupRoutes.js
  backend/routes/messageRoutes.js
  backend/routes/studentRoutes.js
  server.js
Labels: Backend

#154 Meeting Class Implementation
  backend/controllers/groupController.js
  backend/controllers/meetingController.js
  backend/models/GroupModel.js
  backend/models/MeetingModel.js
  backend/routes/meetingRoutes.js
  server.js
Labels: Backend

#159 Linking front and backend for account creation/login
  backend/server.js
  frontend/src/App.js
  frontend/src/Login/LogIn.html
  frontend/src/Login/LogIn.jsx
  frontend/src/Login/script.js
Labels: Frontend

#162 [Feature] Group Search API
  backend/controllers/groupController.js
  backend/routes/groupRoutes.js
Labels: Backend, Deliverable 6

#163 Changed how frontend server is called
  package.json
  react-server.js
Labels: bug, Frontend

#183 User group settings merge
  frontend/src/App.jsx
  frontend/src/components/GroupChatModule.jsx
  frontend/src/components/GroupSettings/GroupSettings.css
  frontend/src/components/GroupSettings/GroupSettings.jsx
  frontend/src/components/GroupSettings/GroupSettings.test.js
  frontend/src/components/Navbar.jsx
  frontend/src/components/TextRegion/TextRegion.jsx
  frontend/src/components/TextRegion/TextRegionStyle.css
  frontend/src/components/UserSettings/UserSettings.css
  frontend/src/components/UserSettings/UserSettings.jsx
  frontend/src/components/studentService.js
Labels: Frontend, Deliverable 6

#160 Deliverable_6 Contributions - Jack Lealos
  Deliverables/Deliverable 6.md
  Deliverables/res/Jack_D6/GroupSettingsButton.png
  Deliverables/res/Jack_D6/GroupSettingsError.png
  Deliverables/res/Jack_D6/UserSettingButton.png
  Deliverables/res/Jack_D6/UserSettings.png
Labels: documentation, Deliverable 6
