Repository jadynlaila/Study_Group_Platform, pull requests merged in 2024-12, with the labels that each got.

#197 User settings updates cookie
  frontend/src/components/UserSettings/UserSettings.jsx
Labels: Frontend

#198 Add logout button
  frontend/src/components/UserSettings/UserSettings.jsx
Labels: Frontend

#199 Add email attribute to student info scrub
  backend/controllers/studentController.js
Labels: Backend

#200 Update port used by textregion when obtaining messages
  frontend/src/components/TextRegion/TextRegion.jsx
Labels: Frontend

#201 Added meeting controller tests
  backend/controllers/meetingController.js
  backend/controllers/meetingController.test.js
  backend/controllers/messageController.js
  backend/routes/groupRoutes.js
Labels: Backend

#202 Meeting Display Sidebar
  backend/controllers/meetingController.js
  frontend/src/components/GroupChatModule.jsx
  frontend/src/components/MeetingsOverlay/MeetingsOverlay.jsx
  frontend/src/components/MeetingsOverlay/MeetingsOverlayStyle.css
  frontend/src/components/Public/arrow_down.svg
  frontend/src/components/Public/notes.svg
  frontend/src/components/Public/person.svg
  frontend/src/components/Public/pin.svg
  frontend/src/components/TextRegion/TextRegion.jsx
  frontend/src/components/TextRegion/TextRegionStyle.css
Labels: Frontend

#203 Group Add - Daira
  backend/controllers/groupController.js
  backend/models/GroupModel.js
  frontend/src/App.jsx
  frontend/src/components/GroupChatModule.jsx
  frontend/src/components/GroupChatModuleStyle.css
  frontend/src/components/GroupCreationModule.css
  frontend/src/components/GroupSearchModule.css
  frontend/src/components/Navbar.jsx
  frontend/src/components/ParentComponent.jsx
  frontend/src/components/groupCreationModule.jsx
  frontend/src/components/groupSearchModule.jsx
  package.json
Labels: Frontend

#209 Deliverable 7
  Deliverables/Deliverable 7.md
Labels: Deliverable 7
