Repository jadynlaila/Study_Group_Platform, pull requests merged in 2024-09, with the labels that each got.

#19 Copied contents of the doc to here
  Deliverables/Deliver
  Deliverables/Deliverable_1.md
Labels: documentation, help wanted, priority

#38 Jack_d2
  Deliverables/Group 7 - Deliverable 2.md
  Deliverables/res/Study Sphere - UseCaseSearchGroup.drawio.png
  Deliverables/res/src/Study Sphere - Use Case SearchGroup.drawio
Labels: Deliverable, Week 4

#39 D2 Alex
  Deliverables/Group 7 - Deliverable 2.md
  Deliverables/res/deliverable_2-github_issues.png
  Deliverables/res/deliverable_2-use_case_diagram.png
  Deliverables/res/src/Study Sphere - Use Case Diagram.drawio
Labels: Deliverable, Week 4

#46 New D2 Commit
  Deliverables/Group 7 - Deliverable 2.md
  Deliverables/res/D2_delete.png
Labels: Deliverable, Week 4

#42 Daira's commit for D2
  Deliverables/Group 7 - Deliverable 2.md
  Deliverables/res/deliverable_2-create_group.png
Labels: Deliverable, Week 4

#26 Deliverable 2
  .DS_Store
  Deliverables/Group 7 - Deliverable 2.md
  Deliverables/res/D2_delete.png
  Deliverables/res/Study Sphere - UseCaseSearchGroup.drawio.png
  Deliverables/res/deliverable_2-create_account.png
  Deliverables/res/deliverable_2-create_group.png
  Deliverables/res/deliverable_2-github_issues.png
  Deliverables/res/deliverable_2-join_study_group.png
  Deliverables/res/deliverable_2-log_in.png
  Deliverables/res/deliverable_2-schedule_meeting.png
  Deliverables/res/deliverable_2-use_case_diagram.png
  Deliverables/res/src/Study Sphere - Use Case Diagram - Join a Study Group.drawio
  Deliverables/res/src/Study Sphere - Use Case Diagram - Log In.drawio
  Deliverables/res/src/Study Sphere - Use Case Diagram - Schedule Meeting.drawio
  Deliverables/res/src/Study Sphere - Use Case Diagram.drawio
  Deliverables/res/src/Study Sphere - Use Case SearchGroup.drawio
Labels: Deliverable
