Repository jadynlaila/Study_Group_Platform, pull requests merged in 2024-10, with the labels that each got.

#47 Deliverable 3 - Alex's Contributions
  .gitignore
  Deliverables/Deliverable 3.md
  Deliverables/res/Study Sphere - MeetingEvent Class Diagram.png
  Deliverables/res/Study Sphere - Message Class Diagram.png
  Deliverables/res/src/Study Sphere - MeetingEvent Class Diagram.drawio
  Deliverables/res/src/Study Sphere - Message Class Diagram.drawio
Labels: documentation, Learning Opportunity, priority, Deliverable, Week 5

#62 Deliverable 3 - Rudra's Contributions
  Deliverables/Deliverable 3.md
  Deliverables/res/D3_Group _Class.drawio
  Deliverables/res/D3_Group _Classes.drawio.png
Labels: priority, Deliverable, Week 5

#48 deliverable3_daira
  Deliverables/Deliverable 3.md
  Deliverables/res/Deliverable_3/groupThread.drawio.png
Labels: documentation, Learning Opportunity, priority, Deliverable, Week 5

#49 Jadyn's Deliverable 3 Contributions
  Deliverables/res/Group_UML-1.png
  Deliverables/res/Group_UML.drawio
  Deliverables/res/Student_UML-1.png
  Deliverables/res/Student_UML.drawio
  server/.DS_Store
Labels: documentation, Learning Opportunity, priority, Deliverable, Week 5

#50 Deliverable 3 - Jacks contributions
  Deliverables/Deliverable 3.md
  Deliverables/res/MessageThreadUMLClass.drawio (2).png
  Deliverables/res/src/MessageThreadUMLClass.drawio
Labels: documentation, Learning Opportunity, priority, Deliverable, Week 5

#54 Added deliverable 3 template
  Deliverables/Deliverable 3.md
  Deliverables/res/pictureSettings.drawio (1).xml
  Deliverables/res/pictureSettings.png
Labels: documentation, Learning Opportunity, priority, Deliverable, Week 5

#61 Deliverable 3 Development
  .gitignore
  Deliverables/Deliverable 3.md
  Deliverables/res/D3_Group _Class.drawio
  Deliverables/res/D3_Group _Classes.drawio.png
  Deliverables/res/Deliverable_3/groupThread.drawio.png
  Deliverables/res/Group_UML-1.png
  Deliverables/res/Group_UML.drawio
  Deliverables/res/MessageThreadUMLClass.drawio (2).png
  Deliverables/res/Student_UML-1.png
  Deliverables/res/Student_UML.drawio
  Deliverables/res/Study Sphere - MeetingEvent Class Diagram.png
  Deliverables/res/Study Sphere - Message Class Diagram.png
  Deliverables/res/deliverable3ClassDiagram.png
  Deliverables/res/pictureSettings.drawio (1).xml
  Deliverables/res/pictureSettings.png
  Deliverables/res/src/MessageThreadUMLClass.drawio
  Deliverables/res/src/Study Sphere - MeetingEvent Class Diagram.drawio
  Deliverables/res/src/Study Sphere - Message Class Diagram.drawio
  server/.DS_Store
Labels: documentation, Learning Opportunity, priority, Deliverable, Week 5

#58 Frontend Development
  .gitignore
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/homepage.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  node_modules/.package-lock.json
Labels: Frontend

#107 fixed d4 outline
  Deliverables/Deliverable 4.md
Labels: documentation, Deliverable 4

#108 Daira's Front End Contributions
  frontend/src/components/GroupChatModule.jsx
  frontend/src/components/GroupChatModuleStyle.css
  frontend/src/components/GroupChat_Creation.js
  frontend/src/components/GroupChat_Module.js
  frontend/src/components/GroupSearch.js
  frontend/src/components/Navbar.js
  frontend/src/components/Text_Region.js
  frontend/src/components/homepage.js
Labels: Frontend, priority, Deliverable 4

#106 Deliverable 4 - Daira
  CONTRIBUTING.md
  Deliverables/Deliverable 4.md
  Deliverables/res/daira_d4/D4_GroupChatModule.png
  Deliverables/res/daira_d4/S__study_COPY.png
  README.md
Labels: priority, Deliverable 4

#112 Jack - deliverable 4 contributions
  Deliverables/Deliverable 4.md
  Deliverables/res/text-region-display.png
Labels: documentation, priority, Deliverable 4

#110 Deliverable 4 alex
  Deliverables/Deliverable 4.md
  Deliverables/res/alex_d4/alex_jest.png
  LICENSE
Labels: priority, Deliverable 4

#105 D4_rudra
  README.md
Labels: Deliverable 4

#114 This is my commit for D4 - "Look and Feel"
  Deliverables/Deliverable 4.md
  Deliverables/res/valentino_d4/LANDINGPAGE.png
  Deliverables/res/valentino_d4/LOGINDark.png
  Deliverables/res/valentino_d4/LOGINLIGHT.png
  Deliverables/res/valentino_d4/WIREFRAME.png
Labels: Week 7, Deliverable 4
